<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head_addLinks :: common_head(~{::title},~{::link})">
    <title>회원정보수정</title>
    <link th:href="@{/css/passwordCheck.css}" href="../css/passwordCheck.css" rel="stylesheet">
<body>
<header th:replace="~{fragments/navbar_member :: copy}"></header>
<main class="d-flex align-items-center">
    <div class="form-signin w-100 m-auto" style="text-align:center">
        <form th:action="@{/myPage/checkPassword}" th:object="${form}" method="post">
            <h3>비밀번호 확인</h3>
            <div class="form-floating">
                <input type="email" class="form-control" id="email" th:field="*{email}" readonly
                       style="background-color:#e9ecef">
                <label for="email" th:text="#{member.email}" class="form-label">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" th:field="*{password}"
                       placeholder="비밀번호를 입력하세요.">
                <label for="password" th:text="#{member.password}" class="form-label">Password</label>
            </div>

            <div class="field-error-space">
                <div class="field-error" th:errors="*{password}">필드 오류</div>
            </div>
            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit" th:text="#{button.login}">Sign in</button>
        </form>
    </div>
</main>
<footer th:replace="~{fragments/footer :: copy}"></footer>
</body>
</html>