html{
    height: calc(100vh - 56px);
    }

body{
    height:100%;
    }

#wrapper{
    height: auto;
    min-height: 100%;
    padding-bottom:10%;
    }
footer{
    position: relative;
    transform : translateY(-100%);
    max-width: 800px;
    margin: 0 auto;
    }
.join_container{
    max-width: 560px;
    margin-right:auto;
    margin-left:auto;
    }
h2{
    margin-top:10%;
    margin-bottom:10px;
    }
.submit_btn{
    width:100%;
    margin-top:20px;
    }

.container_subMenu{
    background-color:#e9ecef;
}

